.fruit-card {
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.fruit-name {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.fruit-detail-container {
    margin: 0.5rem 1.5rem;
}

.fruit-detail {
    font-weight: bold;
    margin: 10px 0;
    white-space: nowrap;
}

.fruit-detail-container button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #1266f1;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .fruit-detail-container button:hover {
    background-color: hsl(193, 89%, 51%);
    box-shadow: 0 6px 8px rgba(36, 180, 242, 0.15);
  }
  
  .fruit-detail-container button:active {
    background-color: hwb(199 7% 5%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
  }
  

.fruit-detail-span {
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .fruit-card {
        margin: 0 auto;
    }
}